/* 全局样式 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #f5f5f5;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 800px;
  margin: 30px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
}

header {
  text-align: center;
}

.title {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
}

.emojis-label {
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 10px;
}

button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background-color: #5d9cec;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
}


canvas {
  margin: 30px 0;
  border: 1px solid #ccc;
}


p {
  font-size: 14px;
  line-height: 1.5;
  margin-top: 10px;
  text-align: center;
  color: #666;
}
